*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed";
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
    overflow: hidden;
}
.wrapper{
    overflow: hidden;
    width: 1100px;
    height: 560px;
    display: grid;
    grid-template-columns: repeat(3,240px) 242px;
    grid-template-rows: 270px 260px;
    gap: 20px;
}
.wrapper>div{
    padding: 30px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}
.one{
    background-color: hsl(263, 55%, 52%);
    grid-row: span 1;
    grid-column: span 2;
    background-image: url(./images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: right 20% top 0;
}
.two{
    grid-row: span 1;
    grid-column: span 1;
    background-color: hsl(217, 19%, 35%);
}
.three{
    grid-row: span 1;
    grid-column: span 1;
}
.four{
    grid-row: span 1;
    grid-column: span 2;
    background-color: hsl(219, 29%, 14%);
}
.five{
    grid-area: 1/4/3/4;
}

.one,.two,.four{
    color: white;
}

.wrapper>div>div{
    display: flex;
    align-items: center;
    gap: 10px;
}
img{
    width: 25px;
    border-radius: 50%;
}
.flex{
    /* height: 30px; */
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: hsl(210, 46%, 95%);
}
.flex span:last-of-type{
    font-size: 10px;
    font-weight: 400;
    opacity: 0.5;
}
p:first-of-type{
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    opacity: 1;
    margin-bottom: 10px;
}
p{
    font-size: 12px;
    line-height: 18px;
    color: hsl(210, 46%, 95%);
    opacity: 0.7;
    font-weight: 400;
    padding-right: 11px;
}
.three, .five {
    background-color: #fff;
}
.three *,.five *{
    color: hsl(217, 19%, 35%)!important;
}
.wrapper .one,.wrapper .four{
padding: 30px 0px 30px 30px;
}
.one p:last-of-type, .four p:last-of-type{
padding-right: 41px;
}
@media (max-width:1100px){
    body{
        height: auto;
        overflow-y: auto;
    }
    .wrapper{
        width: 375px;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
    .one p:first-of-type,.four p:first-of-type{
        padding-right:39px ;
    }
    
    /* p{
        font-size: 13px;
        line-height: 18px;
        color: hsl(210, 46%, 95%);
        opacity: 0.7;
        font-weight: 400;
        padding-right: 11px;
    } */
.one{
    background-position: right 11% top -1%;
}
}